@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}   


<div class="fotorama" data-height="90%"
     data-allowfullscreen="true"
     data-arrows="true"
     data-nav="thumbs"
     data-fit="cover">
    <a href="~/assets/img/Gallery/1.jpg"></a>
    <a href="~/assets/img/Gallery/2.jpg"></a>
    <a href="~/assets/img/Gallery/3.jpg"></a>
    <a href="~/assets/img/Gallery/4.jpg"></a>
    <a href="~/assets/img/Gallery/5.jpg"></a>
    <a href="~/assets/img/Gallery/6.JPG"></a>
    <a href="~/assets/img/Gallery/7.JPG"></a>
    <a href="~/assets/img/Gallery/8.JPG"></a>
    <a href="~/assets/img/Gallery/9.JPG"></a>
    <a href="~/assets/img/Gallery/10.JPG"></a>
    <a href="~/assets/img/Gallery/11.JPG"></a>
    <a href="~/assets/img/Gallery/12.jpg"></a>
    <a href="~/assets/img/Gallery/13.jpg"></a>
    <a href="~/assets/img/Gallery/14.JPG"></a>
    @*<img src="~/assets/img/Gallery/1.jpg" />
    <img src="~/assets/img/Gallery/2.jpg" />
    <img src="~/assets/img/Gallery/3.jpg" />
    <img src="~/assets/img/Gallery/4.jpg" />
    <img src="~/assets/img/Gallery/5.jpg" />
    <img src="~/assets/img/Gallery/6.jpg" />
    <img src="~/assets/img/Gallery/7.jpg" />
    <img src="~/assets/img/Gallery/8.jpg" />
    <img src="~/assets/img/Gallery/9.jpg" />
    <img src="~/assets/img/Gallery/10.jpg" />
    <img src="~/assets/img/Gallery/11.jpg" />
    <img src="~/assets/img/Gallery/12.jpg" />
    <img src="~/assets/img/Gallery/13.jpg" />
    <img src="~/assets/img/Gallery/14.jpg" />*@
</div>
    
