@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row centered center-block">
    <h1><b>Presidents</b></h1>
</div>

<div class="container desc">
    <div class="row">        
        <div class="col-lg-6 centered">
            <img class="img-circle" width="110" height="110" alt="" src="assets/img/Amish.jpg">
            
        </div><!-- col-lg-6 -->
        <div class="col-lg-6">
            <h4>Rtr. Amish Ratna Sthapit</h4>
            <p>President (2016-17)</p>                        
        </div>
    </div><!-- row -->

    
    <hr>
    

    <div class="row">        
        <div class="col-lg-6 centered">
            <img class="img-circle" width="110" height="110" alt="" src="assets/img/Ashika.jpg">

        </div><!-- col-lg-6 -->
        <div class="col-lg-6">
            <h4>Rtr. Ashika Singh</h4>
            <p>President (2015-16)</p>
        </div>
    </div><!-- row -->
    
    <hr>

    <div class="row">
        <div class="col-lg-6 centered">
            <img class="img-circle" width="110" height="110" alt="" src="assets/img/Anuj.jpg">

        </div><!-- col-lg-6 -->
        <div class="col-lg-6">
            <h4>Rtr. Anuj Singh</h4>
            <p>President (2014-15)</p>
        </div>
    </div><!-- row -->

    <hr>

    <div class="row">
        <div class="col-lg-6 centered">
            <img class="img-circle" width="110" height="110" alt="" src="assets/img/Romush.jpg">

        </div><!-- col-lg-6 -->
        <div class="col-lg-6">
            <h4>Rtr. Romush Tuladhar</h4>
            <p>President (2013-14)</p>
        </div>
    </div><!-- row -->

    <hr>
    

    <div class="row">
        <div class="col-lg-6 centered">
            <img class="img-circle" width="110" height="110" alt="" src="assets/img/Pilinda.jpg">

        </div><!-- col-lg-6 -->
        <div class="col-lg-6">
            <h4>Rtr. Pilinda Baniya</h4>
            <p>President (2012-13)</p>
        </div>
    </div><!-- row -->

    <hr>

    <div class="row">
        <div class="col-lg-6 centered">
            <img class="img-circle" width="110" height="110" alt="" src="assets/img/Parikshit.jpg">

        </div><!-- col-lg-6 -->
        <div class="col-lg-6">
            <h4>Rtr. Parikshit Adhikari</h4>
            <p>President (2011-12)</p>
        </div>
    </div><!-- row -->

    <hr>

    <div class="row">
        <div class="col-lg-6 centered">
            <img class="img-circle" width="110" height="110" alt="" src="assets/img/Puneet.jpg">

        </div><!-- col-lg-6 -->
        <div class="col-lg-6">
            <h4>Rtr. Puneet Shakya</h4>
            <p>President (2007-08)</p>
        </div>
    </div><!-- row -->

    <hr>

    <div class="row">
        <div class="col-lg-6 centered">
            <img class="img-circle" width="110" height="110" alt="" src="assets/img/Supriya.jpg">

        </div><!-- col-lg-6 -->
        <div class="col-lg-6">
            <h4>Rtr. Supriya Shrestha</h4>
            <p>President (2006-07)</p>
        </div>
    </div><!-- row -->

    <hr>

    <div class="row">
        <div class="col-lg-6 centered">
            <img class="img-circle" width="110" height="110" alt="" src="assets/img/Dev.jpg">

        </div><!-- col-lg-6 -->
        <div class="col-lg-6">
            <h4>Rtr. Dev Ghimire</h4>
            <p>Charter President (2005-06)</p>
        </div>
    </div><!-- row -->

    <hr>

</div>