@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Let's grow Together</h1>                     
                <img src="~/assets/img/RACKNE.png" />           
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!-- headerwrap -->

<div class="container w">
    <div class="row centered">
        <br><br>
       
        
            <img class="img-circle" width="110" height="110" alt="" src="assets/img/Amish.jpg">
            <h4>President's Message</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
        
        
    </div><!-- row -->
    <br>
    <br>
</div><!-- container -->
<!-- PORTFOLIO SECTION -->
<div id="dg">
    <div class="container">
        <div class="row centered">
            <h2>What is Rotaract?</h2>
            <br>
            <div class="col-lg-4">
                <div class="tilt">
                    <h3>Having Fun</h3>
                    <a href="#"><img src="assets/img/Fun.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tilt">
                    <h3>Serving Community</h3>
                    <a href="#"><img src="assets/img/Serving.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tilt">
                    <h3>Learning New Things</h3>
                    <a href="#"><img src="assets/img/Learning.jpg" alt=""></a>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!-- DG -->
